:root {
  --global--height: 50px;
  --content-visible: hidden;
  --background-prop: center no-repeat;
  --background-size: cover;
}

.custom1, .custom2, .custom3 {
  height: var(--global--height);
  background: #aaa;
}
:is(.is1, .is2, .is3) a {
  color: blue;
  font-size: 15px;
}
:where(.where1, .where2, .where3) a {
  color: blue;
  font-size: 15px;
}
a {
  color: rgb(255, 255, 255);
  font-size: 30px;
}